/**
 * Lamped.co.uk General Support Library
 * Copyright 2011 Lamped.co.uk.
 *
 * @author Marc Gray support@lamped.co.uk
 * @version 1.0.1
 *
 * Required CSS for Safari cssReady detection
 */

#lamped-csscheck {
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    height: 1px;
    width: 1px;
}