/* CSS Document */
.clear {clear:both;}
.err { /* Error Message */
color:#FF0000;
}
.ep-wrap { /* Whole ExpandPost Content Area */
	color: #FFFFFF;
	font-size: 12px;
	font-family: Helvetica, sans-serif !important;
	position: relative;
	line-height: normal;
	background:url(images/paper_fibers_@2X.png) repeat left top scroll;
	margin: 10px auto;
}
.ep-expand{ /* Expandable area */
	display: none;
}
.ep-wrap p { /* Paragraphs */
	margin: 5px 0;
	padding: 0px;
}
#ep-title-wrap {  /* Post Title Section Wrapper */
	position:relative;
	margin:0px auto;
}
h2.ep-title {  /* Post Title */
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	/* text-transform: uppercase; */
	line-height: 16px;
	display:block;
	margin: 0px;
	/* padding: 5px; */
}
#ep-title-wrap p {  /* Post Date Text */
	display:block;
	position:absolute;
	/* margin: 5px; */
	padding: 0;
	top:0px;
	right:0px;
}
#ep-thumb-wrap {  /* Main Image Section Wrapper */
	padding: 0px;
	text-align: center;
	position: relative;
	margin: 0px auto 0px auto;
}
#ep-thumb-wrap img {  /* Main Image */
	margin: 0px;
	padding: 0px;
	cursor:pointer;
	width: 100%;
	height: 250px;

}
#ep-thumb-wrap .ep-tap {  /* The overlay section over main image on mouse over */
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background: url(images/tap.png) no-repeat scroll center center;
	display:none;
	cursor:pointer;
}
#ep-desc-wrap {  /* Description Section wrapper */
	margin:0px;
	padding:0px;
	clear:top;
}
.ep-content {  /* Description Box */
	clear: left;
	float: left;
	width: 67%;
	color:#999;
}
.ep-crewcast {  /* CrewCast Box */
	clear: right;
	float: right;
	width: 30%;
	overflow:hidden;
	
}
h3.ep-subtitle { /* Subtiles. Means title of CrewCast and CommentForm area. */
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
	padding: 5px 0;
	line-height: normal;
	color:gray;
}
.ep-crewcast p{  /* Paragraphs under CrewCast area */
	margin: 7px 0;
	margin-bottom: 1em;
}
.ep-content-hold{  /* Description area inner box */
	 margin: 5px;
	text-align:justify;
	font-size: 12px;
	line-height: 1.4;
}
.ep-crewcast-hold{ /* CrewCast area inner box */
	margin: 15px;
}
.ep-crewcast-hold p.ep-crew {/* Paragraphs under CrewCast area */

color:gray;
text-align:justify;
}
.ep-crewcast-hold p.ep-crew a {/* Link under CrewCast area */
color:#0a6df2;
}
#ep-vid-wrap { /* Video area wrpper */
	/*text-align: center;*/
	
}
#ep-cmnt-wrap { /* Comment Section wrapper */
}
.ep-cmnt {  /* CommentText area box */
	clear: left;
	float: left;
	width: 70%;
}
.ep-cmnt-form { /* CommentForm area box */
	clear: right;
	float: right;
	width: 30%;
}
.ep-cmnt-hold { /* CommentText area inner box */
	font-size: 12px;
    height: 450px;
    line-height: normal;
    margin: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
	
}
.ep-cmnt-form-hold { /* CommentForm area inner box */
	margin: 5px;
	min-height:290px;
	
}
.ep-cmnt-hold p { /* Paragraphs on CommentText area */
}
.ep-cmnt-hold p span {  /* Author of Comments */
	font-weight: bold;
	font-style: italic;
	color: #CCCCCC;
}
.ep-cmnt-form label {  /* The field name part of CommentForm */
	display:inline-block;
	width:60px;
}
#ep-photo-wrap{  /* Photo section wrapper */
}
.ep-photo {  /* PhotoLink box */
	width: 60%;
	clear: left;
	float: left;
}
.ep-photo img { /* PhotoLink image */
	margin: 0px;
	cursor:pointer;
}
p.ep-link { /* Default text if no PhotoLink image is used */
}
p.ep-link a { /* Default link if no PhotoLink image is used */
}
.ep-box {  /* MoreText area box */
	width: 40%;
	clear: right;
	float: right;
}
.ep-photo-hold { /* PhotoLink area inner box */
	margin: 0px;
	padding: 0px;
}
.ep-box-hold { /* MoreText area inner box */
	margin:5px;
}
#ep-title-wrap, #ep-thumb-wrap, #ep-desc-wrap, #ep-vid-wrap, #ep-cmnt-wrap, #ep-photo-wrap, #ep-meta-wrap { /* All section wrapper */
	overflow: hidden;
}
#ep-vid-wrap { /* Title and Video section wrapper */
	/* margin: 5px; */
	float: left;
    width: 320px;
	height: 200px;
	overflow: hidden;
	color:#999;
}
#ep-vid-wrap img{
	width: 310px;
	height: 175px;
}

.txt{  /* Text Boxes */
	border: 1px solid #eee !important;
	background:none !important;
	color: #FFFFFF !important;
}
.btn{  /* Buttons */
	cursor:pointer;
	border: 1px solid #eee;
	background:none;
	color: #FFFFFF;
}


.wrap .exp-setting table 
{
width:100%;
}
.wrap  .exp-setting tr
{
height:50px;
}
} 

.success{
color:green;
}

/*-----------------------------------------------------------------------------------*/
/*  Tabs
/*-----------------------------------------------------------------------------------*/
ul.tabs {
  /*   margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 19px; 
    border-bottom: 1px solid #E2E2E2;
    border-left: 1px solid #E2E2E2;
    width: 100%;
    margin-bottom:20px;
	 */
	
	height: 19px; 
	width: 85%;
  	font: 0.8em;
	background: #3B5998;
 	padding: 6px;
 	margin: 15px 0px 3px 0px;
	color: white;
	text-align: left;
}
ul.tabs li {
 	padding: 6px;
  	margin: 15px 0px 3px 0px;
  	color: white;
    float: left;
    margin: 0;
    padding: 0;
    height: 25px; /*--Minus 1px from the height of  ul--*/
    line-height: 28px; /*--aligns text within the tab--*/
  /*   border: 1px solid #E2E2E2; */
    margin-bottom: -1px; /*--Pull the list item down 1px--*/
    overflow: hidden;
    position: relative;
     background: #3B5998;
    margin-right:5px;
    min-width:73px;
    text-align:center;
}
ul.tabs li:first-child{ /*--Removes the left border from the first child of the list--*/
border-left:none;
}
ul.tabs li a {
    text-decoration: none;
     color: white;
    display: block;
    font-size: 18px;
    padding-right:5px;
    padding-left:5px;
    outline: none;
}
ul.tabs li a:hover {
    background: #4b67a1;
	color: #999;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
   background: #4b67a1;
    border-bottom: 1px solid #999;
    color: #999;
}
ul.tabs li.active a{
    color: #999;
}